* {box-sizing: border-box;
   margin:0px;
   padding:0px;
   /*border:solid 1px rgba(128, 128, 128, 0.59);*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

html {font-family: 'Racing Sans One', cursive;}

body {
    /*overflow:hidden;*/
}

.container{max-width: 100vw;}

.header{
    width:100%;
    position:fixed;
    height: auto;
    top:0px;
    background-color: rgba(251, 0, 0, 0.637);
    z-index:2;
}

.header h1{
    position: relative;
    left:5%; 
    letter-spacing: 10px;
}

.header h2{
    position: relative;
    left:10%;
}
.nav{
   position: fixed;
   top:20px; right:0px;
   z-index:1;
}

.nav::after {
    content: "";
    clear: both;
    display: table;
}

.nav ul{
    position:relative;
    right:15%;
}
.nav ul li{
    list-style:none;
    display:inline-block;
    width:100px;
    text-transform: uppercase;
}

.main{
    width:90%;
    margin:auto;
}

.categ_container {
    max-width: inherit;
    margin: auto;
    border: dotted 1px darksalmon;
}

.categ_item{
    float:left;
    width: 33.33%;
    padding:5px;
}

.categ_container figure img{
    width:100%;
    border-radius:5px;
}

.categ_item figure{
    position:relative;
}

.categ_item figcaption {
    position: absolute;
    left: 27%;
    top: 50%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    font-family: verdana;
    padding: 5px;
    border-radius: 3px;
}

    .categ_item figcaption:hover {
        letter-spacing: 20px;
        background-color: #ff00007d;
    }


    /*
#stradali {
    background-image: url(../IMG/stradale.jpg);
}
#cross {
    background-image: url(../IMG/cross.jpg);
}
#custom {
    background-image: url(../IMG/custom.jpg);
}
#scooter {
    background-image: url(../IMG/scooter.jpg);
}
#motard {
    background-image: url(../IMG/motard.jpg);
}
#naked {
    background-image: url(../IMG/naked.jpg);
}
    */
    .news_container {
    }

.news_container:after {
    content: "";
    clear: both;
    display: table;
}

.news_text{
    float:left;
}

.news_text h2, .news_text h3{
    font-weight: lighter;
}

.news_form{
    float:right;
}

.footer {
    background-color:rgba(0, 0, 0, 0.801);
    color: #ffffff;
}

.socials{
    float:left;
    width:30px:
}

.socials img{
    width:35px;
}


.foot_text{
    float:right;
}

.foot_text h4{
font-weight: lighter;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.spacer {
    width: 100%;
    height: 100px;
}

